<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chflower.mapper.AddrMapper">

    <select id="select" parameterType="int" resultType="addr">
        SELECT * FROM addr WHERE addr_id=#{addr_id}
    </select>
    <select id="selectall" resultType="addr">
        SELECT * FROM addr
    </select>
    <select id="selectaddr" parameterType="String" resultType="addr">
        SELECT * FROM addr WHERE cust_id=#{cust_id}
    </select>
    <insert id="insert" parameterType="addr">
        INSERT INTO addr VALUES (addr_seq.NEXTVAL,#{def_addr1},#{def_addr2},#{addr_name},#{cust_id})
    </insert>
    <update id="update" parameterType="addr">
        UPDATE addr SET def_addr1=#{def_addr1}, def_addr2=#{def_addr2}, addr_name=#{addr_name} WHERE addr_id=#{addr_id}
    </update>
    <delete id="delete" parameterType="int">
        DELETE FROM addr WHERE addr_id=#{addr_id}
    </delete>

</mapper>