<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chflower.mapper.ItemMapper">

    <select id="selectLargestid" resultType="Integer">
        SELECT MAX(ITEM_ID) AS LagestId
        FROM item
    </select>

    <select id="getpage" resultType="item">
        SELECT *
        FROM item
    </select>

    <select id="select" parameterType="Integer" resultType="item">
        SELECT ITEM_ID, CATEGORY_ID, ITEM_IMG, ITEM_NAME, ITEM_CNT, ITEM_PRICE, ITEM_CONTENT, ITEM_RDATE, FLOWER_COLOR, FLOWER_TYPE, FLOWER_SIZE, MAIN_IMG
        FROM item
        WHERE item_id = #{item_id}
    </select>

    <!--    id는 ItemMapper의 함수의 이름들이다-->
    <select id="selectall" resultType="item">
        SELECT a.ITEM_ID, a.CATEGORY_ID, a.ITEM_IMG, a.ITEM_NAME, a.ITEM_CNT, a.ITEM_PRICE, a.ITEM_CONTENT, a.ITEM_RDATE, a.FLOWER_COLOR, a.FLOWER_TYPE, a.FLOWER_SIZE, a.MAIN_IMG,
               COUNT(b.REVIEW_ID) as cnt, NVL(ROUND(AVG(b.REVIEW_SCORE),0),0) as avgscore
        FROM item a left outer join item_review b
                                    ON a.item_id = b.item_id
        where a.category_id in(100,200)
        GROUP BY a.ITEM_ID, a.CATEGORY_ID, a.ITEM_IMG, a.ITEM_NAME, a.ITEM_CNT, a.ITEM_PRICE, a.ITEM_CONTENT, a.ITEM_RDATE, a.FLOWER_COLOR, a.FLOWER_TYPE, a.FLOWER_SIZE, a.MAIN_IMG

    </select>

    <select id="getcate" parameterType="Double" resultType="item">
        SELECT a.ITEM_ID, a.CATEGORY_ID, a.ITEM_IMG, a.ITEM_NAME, a.ITEM_CNT, a.ITEM_PRICE, a.ITEM_CONTENT, a.ITEM_RDATE, a.FLOWER_COLOR, a.FLOWER_TYPE, a.FLOWER_SIZE, a.MAIN_IMG,
               COUNT(b.REVIEW_ID) as cnt, NVL(ROUND(AVG(b.REVIEW_SCORE),0),0) as avgscore
        FROM item a left outer join item_review b
                                    ON a.item_id = b.item_id
        where a.category_id in (#{category_id})
        GROUP BY a.ITEM_ID, a.CATEGORY_ID, a.ITEM_IMG, a.ITEM_NAME, a.ITEM_CNT, a.ITEM_PRICE, a.ITEM_CONTENT, a.ITEM_RDATE, a.FLOWER_COLOR, a.FLOWER_TYPE, a.FLOWER_SIZE, a.MAIN_IMG

    </select>

    <select id="gettype" parameterType="String" resultType="item">
        SELECT a.ITEM_ID, a.CATEGORY_ID, a.ITEM_IMG, a.ITEM_NAME, a.ITEM_CNT, a.ITEM_PRICE, a.ITEM_CONTENT, a.ITEM_RDATE, a.FLOWER_COLOR, a.FLOWER_TYPE, a.FLOWER_SIZE, a.MAIN_IMG,
               COUNT(b.REVIEW_ID) as cnt, NVL(ROUND(AVG(b.REVIEW_SCORE),0),0) as avgscore
        FROM item a left outer join item_review b
                                    ON a.item_id = b.item_id
        where a.flower_type in (#{flower_type})
        GROUP BY a.ITEM_ID, a.CATEGORY_ID, a.ITEM_IMG, a.ITEM_NAME, a.ITEM_CNT, a.ITEM_PRICE, a.ITEM_CONTENT, a.ITEM_RDATE, a.FLOWER_COLOR, a.FLOWER_TYPE, a.FLOWER_SIZE, a.MAIN_IMG
    </select>

    <select id="getSearch" resultType="item" parameterType="search">
        SELECT *
        FROM item
        WHERE 1=1
        <if test="category == 'all'">
            AND item_name LIKE '%' ||  #{searchtext} || '%'
        </if>
        <if test="category == '100'">
            AND item_name LIKE '%' ||  #{searchtext} || '%'
             OR flower_type LIKE '%' ||  #{searchtext} || '%'
             OR flower_color LIKE '%' ||  #{searchtext} || '%'
        </if>
        <if test="category == '200'">
            AND item_name LIKE '%' ||  #{searchtext} || '%'
        </if>
        <if test="category == '300'">
            AND item_name LIKE '%' ||  #{searchtext} || '%'
        </if>
    </select>
</mapper>