<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chflower.mapper.PointMapper">

    <select id="selectcust" parameterType="String" resultType="point">
        SELECT * FROM point WHERE cust_id=#{cust_id} ORDER BY 1 DESC
    </select>
    <select id="selectall" resultType="point">
        SELECT * FROM point
    </select>
    <select id="presentpoint" resultType="int">
        SELECT point FROM point WHERE point_id = (SELECT MAX(point_id) FROM point WHERE cust_id = #{cust_id})
    </select>
    <insert id="pluspoint" parameterType="point">
        INSERT INTO point VALUES(point_seq.NEXTVAL, #{cust_id}, #{plus_point}, null,
        (SELECT point FROM point WHERE point_id = (SELECT MAX(point_id) FROM point WHERE cust_id = #{cust_id}))+#{plus_point},
        sysdate)
    </insert>
    <insert id="minuspoint" parameterType="point">
        INSERT INTO point VALUES(point_seq.NEXTVAL, #{cust_id}, null, #{minus_point},
        (SELECT point FROM point WHERE point_id = (SELECT MAX(point_id) FROM point WHERE cust_id = #{cust_id}))-#{minus_point},
        sysdate)
    </insert>
    <update id="update" parameterType="point">
    </update>
    <delete id="delete" parameterType="String">
    </delete>

</mapper>