<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chflower.mapper.QnaMapper">

    <select id="getQna" parameterType="String" resultType="qna">
        SELECT *
        FROM qna
        WHERE cust_id=#{cust_id}
        order by QNA_ID desc
    </select>

    <select id="selectall" resultType="qna">
        SELECT * FROM qna
    </select>
    <insert id="insert" parameterType="qna">
        INSERT INTO QNA (QNA_ID, CUST_ID, POST_TYPE, SUBSITEM_ID, QNA_TITLE, QNA_CONTENTS, QNA_WDATE, QNA_UDATE, QNA_IMAGE1, QNA_IMAGE2)
               VALUES(QNA_SEQ.NEXTVAL,#{cust_id}, #{post_type}, null, #{qna_title}, #{qna_contents},SYSDATE,SYSDATE,#{qna_image1},#{qna_image2})
    </insert>
</mapper>